<h1>Stations#index</h1>

<% @points.each do |element| %>
    <p>Station#<%= element.id %> lat: <%= element.lat %> lon: <%= element.lon %> type: <%= element.ttype %></p>
<% end %>

<%= link_to 'Add', new_point_path %><br>
<%= link_to 'Controls', controller: 'control_center' %>