<h1>Points#new</h1>

<%= form_for @point do |form| %>
    <p><%= form.label :lat %></p>
    <%= form.text_field :lat %>

    <p><%= form.label :lon %></p>
    <%= form.text_field :lon %>

    <p><%= form.label :ttype %></p>
    <%= form.text_field :ttype %>

    <br>

    <%= form.submit %>
<% end %>