<h1>Stations#index</h1>

<% @points.each do |element| %>
<<<<<<< HEAD
    <p>Station id: <%= element.id %></p>
    <p>Station lat: <%= element.lat %></p>
    <p>Station lon: <%= element.lon %></p>
    <p>Station type: <%= element.type %></p>
=======
    <p>Station ID: <%= element.id %></p>
    <p>Station ID: <%= element.lat %></p>
    <p>Station ID: <%= element.lon %></p>
>>>>>>> 8b6122838df883992329f4cdc3332ea754cac2ce
<% end %>