<h1>ControlCenter#index</h1>

<h2>Current wrong trips</h2>

<% @wrong_trips.each do |element| %>
    <p>current point <%= element.point_id %></p>
    <p>current lat <%= Point.find(element.point_id).lat %></p>
    <p>current lon <%= Point.find(element.point_id).lon %></p>
    <p>current card_id in <%= element.in_card_id %></p>
    <p>current card_id out <%= element.out_card_id %></p>
    <p>current time in <%= element.checkin %></p>
    <p>current time out <%= element.checkout %></p>
    <br>
<% end %>