<h1>ControlCenter#index</h1>

<h2>Current trips</h2>

<% @current_trips.each do |element| %>
    <p>current point <%= element.point_id %></p>
    <p>current lat <%= element.in_card_id %></p>
    <p>current lon <%= element.out_card_id %></p>
    <p>current card_id <%= element.checkin %></p>
    <p>current card_id <%= element.checkout %></p>
    <br>
<% end %>