<h1>New</h1>

<%= form_for :card, url: cards_path do |form| %>
    <p><%= form.label :from_point_id %></p>
    <%= form.text_field :from_point_id %>

    <p><%= form.label :to_point_id %></p>
    <%= form.text_field :to_point_id %>

    <br>

    <%= form.submit %>
<% end %>