<h1>Queries#new</h1>

<%= form_for @query do |form| %>
    <p><%= form.label :point_id %></p>
    <%= form.text_field :point_id %>

    <p><%= form.label :in_card_id %></p>
    <%= form.text_field :in_card_id %>

    <p><%= form.label :out_card_id %></p>
    <%= form.text_field :out_card_id %>

    <p><%= form.label :checkin %></p>
    <%= form.text_field :checkin %>

    <p><%= form.label :checkout %></p>
    <%= form.text_field :checkout %>

    <br>

    <%= form.submit %>
<% end %>