<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<h1>Queries#new</h1>

<%= form_for @query do |form| %>
    <p><%= form.label :point_id %></p>
    <%= form.text_field :point_id %>

    <p><%= form.label :in_card_id %></p>
    <%= form.text_field :in_card_id %>

    <p><%= form.label :out_card_id %></p>
    <%= form.text_field :out_card_id %>

    <p><%= form.label :checkin %></p>
    <%= form.text_field :checkin %>

    <p><%= form.label :checkout %></p>
    <%= form.text_field :checkout %>

    <br>

    <%= form.submit %>
<% end %>

<input type="button" value="Start/stop" onclick="toggle_queries()">

<script type="text/javascript">

    var timer = 0;
    var makeNewEvent = function() {

        var data = {
            point_id: Math.floor(Math.random() * 20),
            coords: {
                'lat': Math.floor(Math.random() * 180),
                'lon': Math.floor(Math.random() * 180)
            },
            ttype: 1
        };
        data['point_id'] =  data.coords['lat']*181 + data.coords['lon'] + 7;
        var in_card_id = Math.floor(Math.random() * 1000);
        var out_card_id = Math.floor(Math.random() * 1000);
        data['checkin'] = {timestamp: new Date(), card_id: in_card_id};
        data['checkout'] = {timestamp: new Date(), card_id: out_card_id};
        $.post("../receiver", data);
    };

    function toggle_queries() {
        if (timer == 0)
            timer = window.setInterval(makeNewEvent, 1000);
        else
        {
            window.clearInterval(timer);
            timer = 0;
        }
    }




</script>